{{ $options := dict "transpiler" "libsass" "targetPath" "css/fancybox.min.css" }}

<script src="{{ "js/jquery-3.5.1.min.js" | absURL }}"></script>

{{ $fancybox := resources.Get "css/fancybox.min.scss" }}
{{ $css := slice  $fancybox | resources.Concat "css/fancybox.min.css" | fingerprint }}

<link defer rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" crossorigin="anonymous">

<script src="{{ "js/fancybox.min.js" | absURL }}"></script>
{{ $main := resources.Get "js/zozo.js" }}
{{ $js := slice  $main | resources.Concat "js/zozo.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $js.RelPermalink }}"></script>


{{ if .Site.Params.enableMathJax }}
{{ partial "mathjax.html" . }}
{{ end }}

<!-- service worker -->
    <script>
    (function(){
      var pageList = [{{ range .Site.Pages }}'{{ .Permalink }}',{{ end }}];
      var cssUrl = Array.from(document.querySelectorAll('link[href]')).filter(it=>/(\.css)$/.test(it.href)).map(it=>it.href);
      var jsUrl = Array.from(document.querySelectorAll('script[src]')).map(it=>it.src);
      // 判断浏览器是否支持 Service Worker
      if ('serviceWorker' in navigator && window.location.hostname !=='localhost') {
        // 在 load 事件触发后注册 Service Worker，确保 Service Worker 的注册不会影响首屏速度
        window.addEventListener('load', function () {
            // 是否禁止sw
            const AllowServiceWorker = true;
            if(!AllowServiceWorker){
                return;
            }

          // 注册 Service Worker
          navigator.serviceWorker.register('/sw.js').then(function (registration) {
            // 注册成功
            console.log('ServiceWorker registration successful with scope: ', registration.scope)
            if(!registration.active){
            	return;
            }
            // 手动注入缓存页面
            var urls = [].concat(pageList,cssUrl,jsUrl);
            registration.active.postMessage({
                        action : 'cache',
                        urls : urls
                    });
          }).catch(function (err) {
            // 注册失败 :(
            console.warn('ServiceWorker registration failed: ', err)
          })
        })
      };
	var refreshing = false
	navigator.serviceWorker.addEventListener('controllerchange', () => {
	  if (refreshing) {
	    return
	  }
	  refreshing = true;
	  window.location.reload();
	});
    })();
    </script>
