<div class='iframe-container'>
    <div align=center class="aspect-ratio">
    <iframe
    loading="lazy"
        src="https://player.bilibili.com/player.html?bvid={{ index .Params 0 }}&page={{ if .Get 2 }}{{.Get 2}}{{ else }}1{{end}}&t={{ if .Get 3 }}{{.Get 3}}{{ else }}0{{end}}&as_wide=1&high_quality=1&danmaku=0&autoplay=0"
        scrolling="no"
        {{ if .Get 1 }}title="{{.Get 1}}"{{end}}
        border="0"
        frameborder="no"
        framespacing="0"
        allowfullscreen="true">
    </iframe>
</div>
    {{ if .Get 1 }}
    <p class="iframe-caption">{{.Get 1}}</p>
    {{end}}
</div>
